@using CloudinaryDotNet
@model Tuple<CTA.DTO.UserDTO, Cloudinary>

@section login
{
    @if (User.Identity.Name != null)
    {
        @Html.Partial("UserCabPartial");
    }
    else
    {
        @Html.Partial("LoginPartial");
    }
}

<div class="row">
    <div class="col-sm-3 col-lg-3 col-md-3 col-xs-1">
        <h3 class="text-center text-success">
            @Model.Item1.Name @Model.Item1.Surname
        </h3>
        <img class="img-responsive img-rounded" src="@Model.Item2.Api.UrlImgUp.BuildUrl(Model.Item1.Image)" />
    </div>
    <div class="col-sm-9 col-lg-9 col-md-9 col-xs-1">
        <h3 class="text-left text-success">
            Bids
        </h3>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Username
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="row">

    <div class="col-sm-9 col-lg-9 col-md-9 col-xs-1">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-success text-left">
                            Lots
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-responsive lots-table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        LotId
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Time
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <ul id="pagination-bids" class="pagination-sm"></ul>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="/js/countdown.js"></script>
    <script>
        $(function () {
            var $pagination = $('#pagination-demo');
            var defaultsOpts = {
                totalPages: 20
            }
            $pagination.twbsPagination(defaultsOpts);

            $.get(
                '/api/users/@Model.Item1.UserName/lots',
                {
                    page: 0,
                    count:3
                },
                onSuccess
            );

            function onSuccess(data)
            {
                fillTable(data.data);
                var totalPages = data.meta.totalCount / data.meta.count;
                var currentPage = $pagination.twbsPagination('getCurrentPage');
                $pagination.twbsPagination('destroy');
                $pagination.twbsPagination($.extend({}, defaultsOpts, {
                    startPage: currentPage,
                    totalPages: totalPages
                })).on('page', function (_page) {
                    $.get('/api/users/@Model.Item1.UserName/lots',{ page: page, count:3},onSuccess);
                });
            };

            function fillTable(data)
            {
                var table = $('.table.table-responsive.lots-table').find('tbody');
                $.each(data, function () {

                    var row = $('<tr />');
                    var id = $('<td />');
                    id.text(this.id);
                    var title = $('<td />');
                    title.text(this.title);
                    var ed = $('<td />');

                    var ts = new Date(this.expiredDate);
                    $.fn.countdown({
                        timestamp: ts,
                        callback: function (days, hours, minutes, seconds) {

                            var message = "";
                            message += days + "d; ";
                            message += hours + "h; ";
                            message += minutes + "m; ";
                            message += seconds + "s";

                            ed.text(message);
                        }
                    });

                    var link = $('<td />');
                    var s = $('<a />', { href: '/lots/' + this.id, text: 'Link' });
                    row.append(id);
                    row.append(title);
                    row.append(ed);
                    link.html(s);
                    row.append(link);
                    table.append(row);
                })
            }

        })
    </script>
<script>
        $(function () {
            var $paginationBids = $('#pagination-bids');
            var defaultsOpts1 = {
                totalPages: 20
            }
            $paginationBids.twbsPagination(defaultsOpts1);

            $.get(
                '/api/users/@Model.Item1.UserName/bids',
                {
                    page: 0,
                    count:3
                },
                onSuccess1
            );

            function onSuccess1(data)
            {
                fillTable1(data.data);
                var totalPages = data.meta.totalCount / data.meta.count;
                var currentPage = $paginationBids.twbsPagination('getCurrentPage');
                $paginationBids.twbsPagination('destroy');
                $paginationBids.twbsPagination($.extend({}, defaultsOpts1, {
                    startPage: currentPage,
                    totalPages: totalPages
                })).on('page', function (_page) {
                    $.get('/api/users/@Model.Item1.UserName/bids',{ page: _page, count:3},onSuccess1);
                });
            };

            function fillTable1(data)
            {
                var table = $('.table.table-responsive.bids-table').find('tbody');
                $.each(data, function () {

                    var row = $('<tr />');
                    var id = $('<td />');
                    id.text(this.id);
                    var lotId = $('<td />');
                    lotId.text(this.lotId);

                    var amount = $('<td />');
                    amount.text(this.amount);

                    var time = $('<td />');
                    time.text(this.time);

                    row.append(id);
                    row.append(lotId);
                    row.append(amount);

                    row.append(time);
                    table.append(row);
                })
            }

        })
</script>
}